<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{$title}</title>
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <link rel="stylesheet" href="css/{$owncss}" type="text/css">
  <link rel="stylesheet" href="css/jquery-ui/jquery-ui-1.10.4.custom.min.css" type="text/css">
  <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="js/jquery.ui.datepicker-ja.js"></script>
  <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript" src="js/maglo.js"></script>
</head>

<body>
  <header class="bg">
    <div class="logo">MagLo</div>
  </header>
