  <nav class="pos">
    <div class="logout">
      <form action="index.php" method="post">
        <input type="submit" class="submit" name="logout" value="ログアウト">
      </form>
    </div>
    <div class="tab">
      <a class="tab" href="status.php">配信ステータス管理</a>
      <a class="tab" href="reserv.php">配信予約</a>
      <a class="tab" href="sender.php">送受信者管理</a>
    </div>
  </nav>
